* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body, html {
        height: 100%;
    }
    body {
      font: 13px Helvetica, Arial;
      height: calc(100% - 30vh);
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
        margin-top: 30vh;
        font-size: 25px;
        font-weight: bold;
        border: 2px solid #13a8af;
        border-radius: 10px;
        background-color: #13a8af;
        color: white;
        padding: 20px;
        box-shadow: 6px 6px 4px lightslategray;
    }

    #loginfix {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    #loginfix input {
        width: 70%;
        height: 40px;
        font-size: 20px;
        padding: 4px;
        border-radius: 8px;
        border: 2px solid grey;
        margin-right: 5px;
    }

    #loginfix button {
        width: 30%;
        height: 40px;
        font-size: 20px;
        border-radius: 6px;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    #loginfix button:hover {
        background-color: goldenrod;
        cursor: pointer;
    }

    #loginForm p:hover {
        cursor: default;
    }
    
    #generalChat form {
      padding: 3px;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
      padding-left: 202px;
      padding-right: 200px;
      z-index: 2000;
    }
    
    #generalChat form input {
      border: 2px solid black;
      padding: 10px;
      width: 88%;
      margin-right: .5%;
      border-radius: 5px;
      font-size: 16px;
    }
    
    #generalChat form button {
      width: 11%;
      background: rgb(130, 224, 255);
      border: 2px solid rgb(130, 224, 255);
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: bold;
    }
    
    #messages .ownage {
      background-color: hotpink !important;
    }
    
    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 58px;
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 24px;
    }

        #messages li {
            padding: 5px 10px;
            font-size: 20px;
        }
        
        #messages li:nth-child(odd) {
            background: #eee;
        }
    
    #backgroundTop {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 24px;
        z-index: 1000;
    }
    #backgroundBottom {
        background-color: white;
        z-index: 1000;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
    }
    

    #usersOnlineList {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #usersOnlineList li {
        list-style-position: outside;
        list-style-image: url(http://i.imgur.com/BWb5oyk.png);
        font-size: 16px;
        padding-bottom: 5px;
        cursor: pointer;
    }

    #usersOnlineDiv {
        border-bottom: 2px solid green;
        border-top: 2px solid green;
        width: 150px;
        position: fixed;
        padding: 10px;
        top: 30px;
        left: 25px;
    }

    #usersOnlineDiv p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #defaultChat {
        position: fixed;
        left: 200px;
        right: 200px;
        top: 24px;
        height: calc(100vh - 84px);
        border: 2px solid black;
    }

    #chatSelection {
        position: fixed;
        right: 0;
        top: 24px;
        width: 200px;
        height: 100%;
        background-color: #13a8af;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        z-index: 3000;
    }

    .ToggleGeneralButton {
        width: 90%;
        height: 30px;
        background-color: white;
    }

    .ToggleGeneralButtonFalse {
        width: 90%;
        height: 30px;
        background-color: #13a8af;
    }

    #currentChatName {
        font-size: 20px;
        position: fixed;
        top: 0;
        margin-left: 200px;
        z-index: 2000;
    }

    .newPM {
        float: left;
        margin-top: 500px;

    }